// Footer styles goes here
.footer-wrapper {
    background-color: $dark;

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .navbar-nav {
            flex-direction: column;
        }

        .footer-figure {
            margin-bottom: 2rem;
        }

        .footer-social {
            padding-top: 3rem;
        }

        .social-media-nav {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
            gap: 1.5rem;
        }

        .policy-rights {
            color: $gray;
        }



        @include media-break-up(md) {
            flex-direction: row;
            justify-content: space-between;

            &-nav {
                align-items: flex-start;
            }

            .navbar-nav {
                flex-direction: row;
            }

            .footer-social {
                padding-top: 0;
            }

            .social-media-nav {
                justify-content: flex-end;
            }
        }
    }
}